@keyframes anim-lineUp 
  0% 
    opacity: 0
    transform: translateY(80%)
  
  20% 
    opacity: 0
  
  50% 
    opacity: 1
    transform: translateY(0%)
  
  100% 
    opacity: 1
    transform: translateY(0%)
  

#About
    position: relative
    background-color: #005f73
    display: flex
    flex-direction: column
    padding-left: 10%
    padding-right: 10%
    @media (min-width: 1550px)
      padding-left: 20%
      padding-right: 20%
    
    h2
        font-family: 'Montserrat', sans-serif
        padding: 2rem
        font-size: 2.5rem
        color: #005f73
        background-color: white
        border-radius:30px
        letter-spacing: 0.1rem
        text-transform: uppercase
        width: 500px
        margin-bottom: 5rem
        @media (max-width: 576px)
            font-size: 2.5rem
            margin-bottom: 70px
            width: 70%
        

#biblio
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 100%
    gap: 2rem
    @media (max-width: 576px)
        padding: 0rem
   

.block
    color: white
    border-radius: 15px
    background-color: #37333367
    padding: 1.5rem
    border-radius: 30px
    transition: 0.5s ease all
    &:hover
        transform: scale(1.05)
    p
        letter-spacing: 0.1em 
        font-weight: 500
        font-family: 'Lato', sans-serif

#cv
    max-width: 500px
    min-height: 365px
    padding: 2rem
    letter-spacing: 0.1em 
    font-weight: 500
    font-family: 'Lato', sans-serif
    margin-top: 1.5rem
    display: flex
    flex-direction: column
    p:nth-child(1)
        font-weight: 700
        font-size: 1.5rem

.technos
    margin-top: 120px
    display: flex
    justify-self: center
    gap: 5rem
    margin-bottom: 130px
    flex-wrap: wrap
    justify-content: center
    .icons
        width: 50px
        color: red
        fill: #ff0000
        transition: all 0.5s ease
        

#portrait
    border-radius: 30px 
    overflow: hidden
    height: 380px
    width: 300px
    background-color: #e9c46a
    margin-top: 1.5rem
    #photo
        height: 500px
        margin-top: -30px
        margin-left: -224px


.techno 
  display: flex
  flex-direction: column
  background-color: #37333367
  padding: 3rem
  border-radius: 30px
  transition: 0.5s ease all
  img
    z-index: 9
    &:hover
        transform: rotate(360deg)
        
  img

    &:hover + div
      transform: translateY(60px)
      opacity: 1

  

  div 
    display: flex
    justify-self: center
    gap: 2rem
    flex-wrap: wrap

    div 
      
      font-size: 1.3rem
      position: fixed
      opacity: 0
      transition: transform 0.5s ease, opacity 0.5s ease
      color: white
    
    

  h3 
    margin-top: -60px
    margin-bottom: 30px
  

  &:hover 
    transform: scale(1.05)
  


.technoText 
  display: flex
  flex-direction: column

#mastered

  div:nth-child(2)
      margin-left: -2rem

  div:nth-child(4)
    margin-left: 3.6rem

  div:nth-child(6)
    margin-left: 8.5rem

  div:nth-child(8)
    margin-left: 13.8rem

  div:nth-child(10)
    margin-left: 17.8rem

  div:nth-child(12)
    margin-left: 22.5rem

#learned

  div:nth-child(2)
      margin-left: -3rem

  div:nth-child(4)
    margin-left: 2.6rem

  div:nth-child(6)
    margin-left: 8.7rem

  div:nth-child(8)
    margin-left: 14.3rem

  div:nth-child(10)
    margin-left: 18rem

  div:nth-child(12)
    margin-left: 22.5rem