@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
#About {
  position: relative;
  background-color: #005f73;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}
@media (min-width: 1550px) {
  #About {
    padding-left: 20%;
    padding-right: 20%;
  }
}
#About #opacityAbout {
  display: grid;
}
#About h2 {
  font-size: 2.5rem;
  color: white;
  border-radius: 30px;
  letter-spacing: 0.1rem;
  display: flex;
  justify-self: center;
  justify-content: center;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 3rem;
}
@media (max-width: 576px) {
  #About h2 {
    font-size: 2.5rem;
    margin-bottom: 70px;
    width: 70%;
  }
}

#biblio {
  display: grid;
  width: 900px;
  background-color: rgba(55, 51, 51, 0.4039215686);
  padding: 2.5rem;
  border-radius: 30px;
  margin: auto;
}
@media (max-width: 576px) {
  #biblio {
    padding: 0rem;
  }
}
#biblio #inter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#biblio #inter .block {
  color: white;
  border-radius: 15px;
  transition: 0.5s ease all;
}
#biblio #inter .block:hover {
  transform: scale(1.05);
}
#biblio #inter .block p {
  letter-spacing: 0.1em;
  font-weight: 500;
}

#cv {
  max-width: 500px;
  min-height: 365px;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
#cv p:nth-child(1) {
  font-weight: 700;
  font-size: 1.5rem;
}

.technos {
  margin-top: 120px;
  display: flex;
  justify-self: center;
  gap: 5rem;
  margin-bottom: 130px;
  flex-wrap: wrap;
  justify-content: center;
}
.technos .icons {
  width: 50px;
  color: red;
  fill: #ff0000;
  transition: all 0.5s ease;
}

#portrait {
  border-radius: 20px;
  overflow: hidden;
  height: 380px;
  width: 300px;
  background-color: #e9c46a;
}
#portrait #photo {
  height: 500px;
  margin-top: -30px;
  margin-left: -224px;
}

.techno {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #274d58;
  border: 1px solid white;
  padding: 3rem;
  border-radius: 30px;
  transition: 0.5s ease all;
}
.techno img {
  z-index: 9;
}
.techno img:hover {
  transform: rotate(360deg);
}
.techno img:hover + div {
  transform: translateY(60px);
  opacity: 1;
}
.techno div {
  display: flex;
  justify-self: center;
  gap: 2rem;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .techno div {
    justify-content: center;
    gap: 3rem;
  }
}
.techno div div {
  font-size: 1.3rem;
  position: fixed;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  color: white;
}
.techno h3 {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #274d58;
  padding: 0.5rem;
  border-radius: 10px;
  padding-bottom: 25px;
}
.techno #masteredTitle {
  margin-top: -82px;
  margin-bottom: 30px;
}
.techno #learnedTitle {
  margin-top: -82px;
  margin-left: 209px;
}

.technoLearned {
  opacity: 1;
}

.technoMastered {
  opacity: 0;
}

.border {
  border: 1px solid white;
  width: 206px;
  height: 32px;
  position: absolute;
  margin-left: -253px;
  margin-top: -34px;
  z-index: -1;
  border-radius: 10px;
  padding-bottom: 25px;
  opacity: 0;
}

.borderRight {
  border: 1px solid white;
  width: 207px;
  height: 32px;
  position: absolute;
  margin-left: 208px;
  margin-top: -84px;
  z-index: -1;
  border-radius: 10px;
  padding-bottom: 25px;
}

.technoText {
  display: flex;
  flex-direction: column;
}

#mastered div:nth-child(2) {
  margin-left: -2rem;
}
@media (max-width: 576px) {
  #mastered div:nth-child(2) {
    margin-left: -9rem;
  }
}
#mastered div:nth-child(4) {
  margin-left: 3.6rem;
}
@media (max-width: 576px) {
  #mastered div:nth-child(4) {
    margin-left: 3rem;
  }
}
#mastered div:nth-child(6) {
  margin-left: 8.5rem;
}
@media (max-width: 576px) {
  #mastered div:nth-child(6) {
    margin-left: -9rem;
    margin-top: 6rem;
  }
}
#mastered div:nth-child(8) {
  margin-left: 13.8rem;
}
@media (max-width: 576px) {
  #mastered div:nth-child(8) {
    margin-left: 3rem;
    margin-top: 6rem;
  }
}
#mastered div:nth-child(10) {
  margin-left: 17.8rem;
}
@media (max-width: 576px) {
  #mastered div:nth-child(10) {
    margin-left: -9rem;
    margin-top: 12rem;
  }
}
#mastered div:nth-child(12) {
  margin-left: 22.5rem;
}
@media (max-width: 576px) {
  #mastered div:nth-child(12) {
    margin-left: 3rem;
    margin-top: 12rem;
  }
}

#learned div:nth-child(2) {
  margin-left: -3rem;
}
@media (max-width: 576px) {
  #learned div:nth-child(2) {
    margin-left: -10rem;
  }
}
#learned div:nth-child(4) {
  margin-left: 2.6rem;
}
@media (max-width: 576px) {
  #learned div:nth-child(4) {
    margin-left: 3rem;
  }
}
#learned div:nth-child(6) {
  margin-left: 8.7rem;
}
@media (max-width: 576px) {
  #learned div:nth-child(6) {
    margin-left: -9rem;
    margin-top: 6rem;
  }
}
#learned div:nth-child(8) {
  margin-left: 14.3rem;
}
@media (max-width: 576px) {
  #learned div:nth-child(8) {
    margin-left: 3rem;
    margin-top: 6rem;
  }
}
#learned div:nth-child(10) {
  margin-left: 18rem;
}
@media (max-width: 576px) {
  #learned div:nth-child(10) {
    margin-left: -9rem;
    margin-top: 12rem;
  }
}
#learned div:nth-child(12) {
  margin-left: 22.5rem;
}
@media (max-width: 576px) {
  #learned div:nth-child(12) {
    margin-left: 3rem;
    margin-top: 12rem;
  }
}/*# sourceMappingURL=About.css.map */